<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/card.css')}}">
    <link href="{{url_for('static', filename='img/icons/Vector 1.svg')}}" rel="shortcut icon" />
    <title>Магазин</title>
</head>

<body>
    {%include 'header.html' %}
    <div class="conteiner">
        <div class="content">
            <div class="title">
                <p>Патроны</p>
            </div>
            <div class="shop__list">
                <div class="shop__list-content">
                    <div class="content__body">
                        <div class="content__row">
                            <div class="content__column content__column_1">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/308 win.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 308 winchester</div>
                                    <div class="content__price">Цена: 30$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_2">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/35 куь.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 35 remington</div>
                                    <div class="content__price">Цена: 50$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_3">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/4,5 mm.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 4,5 mm</div>
                                    <div class="content__price">Цена: 500$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_4">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/45 ACP.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 45 ACP</div>
                                    <div class="content__price">Цена: 50$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_5">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/5,56.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 5,5.56x45 NATO</div>
                                    <div class="content__price">Цена: 100$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_6">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/7,92x33.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 7,92x33 mm</div>
                                    <div class="content__price">Цена: 10$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                            <div class="content__column content__column_7">
                                <div class="content__item">
                                    <div class="content__image">
                                        <img src="img/store guns/bullets/9x19.jpg" alt="">
                                    </div>
                                    <div class="content__describe">Описание: 9x19 (9 mm)</div>
                                    <div class="content__price">Цена: 10$</div>
                                    <a href="" class="content__btn"><span>Купить</span></a>
                                    <a href="" class="content__btn-basket"><span>В корзину</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'footer.html' %}

</body>

</html>