{% block footer %}
<div class="footer">
    <div class="footer-nav">
        <span>Главная</span><span>О нас</span><span>Магазин</span><span>Новости</span>
    </div>
    <div class="footerlinks">
        <div>
            <a href="https://vk.com" target="_blank">
                <img src="img/icons/vk.svg" alt="">
                <span>ВКонтакте</span>
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com" target="_blank">
                <img src="img/icons/instagram.svg" alt="">
                <span>Instagram</span>
            </a>
        </div>
        <div>
            <a href="https://ru-ru.facebook.com" target="_blank">
                <img src="img/icons/facebook.svg" alt="">
                <span>Facebook</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}